.digging-2 {
  background-image: url("../../assets/hand.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.digging-content {
  padding: 150px 50px !important;
}

@media (max-width: 992px) {
  .digging-2 {
    height: 600px;
  }
}
@media (max-width: 500px) {
  .digging-content {
    padding: 80px 20px !important;
  }
}
